<?php
/**
 * Update these in order to access the database
 */
define('SERVER', '');
define('USER', '');
define('PASSWORD', '');
define('DATABASE'),'');

define('REMOTE_DATA_LOCATION','http://www.chrisramsay.co.uk/weather-report/data/soiltemps.json');

/*
 * Location information
 * Latitude - Longitude
 */
define('LAT', 53.298691);
define('LONG', -0.556208);

/*
 * Altitude in meters
 * 
 */
define('ALTITUDE',62.0);